h1, h2, h3 {
    padding: 0 !important;
    margin: 0 !important;
}
.ui-widget .ui-widget {
    font-size: 1em;
}

.smartcard-front-panel {
    background: url(../../../../assets/rc-background.png) no-repeat !important;
    background-size: contain !important;
}

.smartcard-back-panel, .smartcard-front-panel {
    position: relative;
    width: 422px !important;
    height: 264px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    box-sizing: border-box;
}
.inline-section {
    display: inline-block !important;
}
.smartcard-front-panel .front-panel-header-section {
    width: 265px;
    vertical-align: middle !important;
    margin-left: 90px;
    margin-top: 10px;
    margin-right: 2px;
    min-height: 35px;
}
.text-label-8size {
    font-size: 8pt !important;
}
.font-bold {
    font-weight: 700 !important;
}
.smartcard-front-panel .vehicle-type {
    position: absolute;
    margin: 15px 0 0 0;
}
.text-label-7size {
    font-size: 7pt !important;
}
.smartcard-back-panel .circled-section, .smartcard-back-panel-side .circled-section, .smartcard-front-panel .circled-section, .smartcard-front-panel-side .circled-section {
    width: 20px;
    height: 20px;
}
.smartcard-vehicle-type-color-code {
    background: #44c7f1 !important;
}
.circled-section {
    border: 1px solid #000;
    border-radius: 10pt;
    line-height: 20px;
    font-weight: 400 !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.smartcard-state-color-code {
    background: #f8951d !important;
}
.front-left-section {
    margin: 50px 0 0 12px;
    vertical-align: top;
}
.smartcard-left-section {
    box-sizing: border-box;
    display: inline-block;
}
.abs-bottom-position {
    bottom: 8px;
}
.emission-norms-section {
    word-wrap: break-word;
    text-transform: uppercase;
    width: 80px;
}
.smartcard-front-panel .front-right-section {
    margin-top: 10px;
    width: 306px;
    margin-left: 80px;
}
.smartcard-right-section {
    margin: 8px 0 0;
    box-sizing: border-box;
    display: inline-block;
}
.ManyCheckbox table, .datatable-panel-100 {
    width: 100% !important;
}
/* tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
} */
.position-relative {
    position: relative !important;
}
.table-width-four td {
    width: 25%;
    vertical-align: top !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.smartcard-front-panel .address-section {
    word-wrap: break-word;
    min-height: 70px;
    width: 300px;
}
.smartcard-front-panel .front-absolute-position {
    margin: -120px 0 0 344px;
}
.position-absolute {
    position: absolute ;
}
.right-absolute-content {
    position: absolute;
    font-weight: 400;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
}
.text-label-6size {
    font-size: 7pt !important;
}
p {
    margin: 0 !important;
}
td {
    border: 1px solid transparent;
}
.datatable-eight-column-header-left th:nth-child(8), .datatable-eight-column-left td:nth-child(8), .datatable-fifth-column-header-left th:nth-child(5), .datatable-fifth-column-left td:nth-child(5), .datatable-first-column-header-left th:nth-child(1), .datatable-first-column-left td:nth-child(1), .datatable-fourth-column-header-left th:nth-child(4), .datatable-fourth-column-left td:nth-child(4), .datatable-nine-column-header-left th:nth-child(9), .datatable-nine-column-left td:nth-child(9), .datatable-second-column-header-left th:nth-child(2), .datatable-second-column-left td:nth-child(2), .datatable-seven-column-header-left th:nth-child(7), .datatable-seven-column-left td:nth-child(7), .datatable-six-column-header-left th:nth-child(6), .datatable-six-column-left td:nth-child(6), .datatable-third-column-header-left th:nth-child(3), .datatable-third-column-left td:nth-child(3), .left-position {
    text-align: left !important;
}
/* table {
    border-collapse: separate !important;
    text-indent: initial !important;
    border-spacing: 2px !important;
} */
.smartcard-owner-serial-color-code {
    background: #fff !important;
}
.owner-serial-position {
    margin-top: -22px;
    margin-left: 35px;
    position: absolute;
}
